<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.teladelogin">

    <!-- Permissões necessárias -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.TelaDeLogin"
        android:usesCleartextTraffic="true">

        <!-- Activities -->
        <activity android:name=".ComprovanteAgendamentoActivity" />
        <activity android:name=".MapaBrasil" />
        <activity android:name=".EditarPerfilActivity" />
        <activity android:name=".ConfiguracoesActivity" />
        <activity android:name=".SobreActivity" />
        <activity android:name=".VidasSalvasActivity" />
        <activity android:name=".HistoricoDoacoesActivity" />
        <activity android:name=".AgendamentoConcluidoActivity" />
        <activity android:name=".ConfirmarAgendamentoActivity" />
        <activity android:name=".CalendarioActivity" />
        <activity android:name=".SelecaoHospitalActivity" />
        <activity android:name=".QuestionarioActivity" />
        <activity android:name=".TelaInicialActivity" android:exported="true" />
        <activity android:name=".CadastroActivity" />

        <!-- Main Launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
